h1 { 
    text-align: center; 
    color: white; 
}

nav { 
    position: fixed; 
    background-color: blue; 
    width: 100%; 
    height: 50px; 
}

.pizza { 
    float: right; 
    height: 200px;
    width: 200px;  
}

.newPizza { 
    clear: right; 
    height: 200px;
    width: 200px; 
    background-color: red; 
}